#root {
  background-color: gray;
  padding: 1rem;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
}
.container {
  display: flex;
  gap: 4rem;
}
.grid-item1 {
  background-color: #ad6636;
}
.grid-item2 {
  background-color: #ad36a3;
}
.grid-item3 {
  background-color: #3636ad;
}
.grid-item4 {
  background-color: #6cc75f;
}
